*{
padding: 0;
margin: 0;
border: none;
list-style: none;
box-sizing: border-box;
font-family: "HelveticaNeue-Light", Helvetica, sans-serif, "Helvetica Neue Light", Icons;
-webkit-font-smoothing:antialiased;
}
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }
body::-webkit-scrollbar{
    display: none;
}
header{
height: 120px;
width: 100%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
.logo img{
    height: 100px;
}
.video-instead-2{
    width: 100%;
display: none;
z-index: 0;
object-fit: fill;
max-height: calc(100vh - 120px);
height: 100%;
position: relative;
}
.video-instead{
width: 100%;
display: none;
z-index: 0;
object-fit: fill;
max-height: calc(100vh - 120px);
height: 100%;
position: relative;
}

/*header end*/
.landing{
    max-height: calc(100vh - 120px);
    display: flex;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
}
#myVideo {
    z-index: 0;
    object-fit: cover;
    max-height: calc(100vh - 120px);
width: 100%;
    position: relative;
  }
  .landing h1 {
      padding: 10px 0px;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
      color: white;
      z-index: 10;
      font-size: 30px;
     position: absolute;
     font-weight: bold;
  }

/*END LANDING*/

.products{
    height: 890px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    margin-top: 20px;
    height: 860px;
    width: 95%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.homemade{
    width: 75%;
    border-bottom: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.artichoke-products{
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.artichoke-products::-webkit-scrollbar{
    display: none;
}
ul{
    display: flex;
    overflow: auto;
    height: 400px;

}
ul li{
    height: 300px;
    min-width: 250px;
    background-color: white;
    margin: 10px;
}
ul li img{
    height: 250px;
}
.drinks{
    margin-top: 10px;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.artichoke-drinks{

    width: 100%;
    height: 400px;
}
/*
END FIRST PRODUCTS
*/
.products-2{
    
        height: 1800px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;

}
.container-2{
        height: 1700px;
        width: 95%;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.cupboard{
    padding-top: 60px;
    width: 75%;
    height: 95%;
    border-bottom: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.cupboard title{
    font-size: 40px;
}
.cupboard > ul{
    height: 95%;
    padding-top:30px ;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    flex-wrap: wrap;
    
}
.cupboard > ul > li{
    margin: 20px;
}
/*end of second product*/
.b{
margin: 20px 20px;
color: wheat;
font-size: 20px;
}
.about{
height: 800px;
background-color: black;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container-about{
width: 75%;
display: flex;
flex-direction: column;
border-right: 1px solid wheat;
border-left: 1px solid wheat;
margin-bottom: 50px;
font-size: 16px;
overflow: auto;
}
.container-about p{
    color: wheat;
    
}

/*
end of message
*/
.ingredients{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredients .container-ingredients{
    text-align: center;
    width: 75%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.ingredients .container-ingredients p{
    margin-top: 10px;
}
.ingredients .container-ingredients p a{
    padding: 10px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}
/*end of ingredients*/
.geo{
display: flex;
justify-content: center;
align-items: center;
height: 300px;
background-color: black;
}
.container-geo{
    width: 75%;
    background-color: black;
        
display: flex;
align-items: center;
justify-content: space-around;
}
.contact{
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    
}
.contact p {
    text-align: center;
    font-size: 12px;
}
.copyright{
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}
@media screen and (min-width:1151px){
    .container-about p{
        margin: 20px 20px;
        
    }
}
@media screen and (max-width:1150px){
.about{
    height: 900px;
}
.container-about p{
    margin: 20px 20px;
    
}
}

@media screen and (max-width:1000px){
#myVideo{
display: none;
}
.video-instead-2{
    display: block;

}
.landing h1{
    background-color: black;
} 
.container-about p{
    margin: 20px 20px;
    
}
}
@media screen and (max-width:960px){
    .about{
        height: 1100px;
    }
    .container-about p{
        margin: 20px 20px;
        
    }
}
@media screen and (max-width:715px){
    .about{
        height: 1300px;
    }
    .container-about p{
        margin: 20px 20px;
        
    }
}
@media screen and (max-width:650px){
    .video-instead-2{
        display: none;
    
    }
    .video-instead{
        display: block;
    }
    .container-about p{
        margin: 20px 20px;
        
    }
}
@media only screen and (max-width:575){
    .container-about p{
        margin: 10px 10px;
    }


}

@media screen and (max-width:375){
    ul li{
        height: 300px;
        max-width: 200px;
        background-color: white;
        margin: 20px 0px;
    }
    ul li img{
        height: 200px;
    }
    h1{
      font-size: 20px !important;
    } 
    .container-about p{
        margin: 5px 5px;
        font-size: 8px;
    }


}